#key-container {
	display: flex;
	flex-direction: column;
    font-family: 'Roboto', sans-serif;
	align-items: center;
	justify-content: center;
	
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#key {
	font-size: 50vmin;
}

#voicing {
    font-size: 10vmin;
    color: darkgray;
}
